
body {
	width: 100%;
	height: 100%;
	margin-top: auto;
	margin-right: auto; 
	margin-bottom: auto;
	margin-left: auto;
	text-align: center;

}

#regblock{
	position: relative; 
	margin-top: 20%;
	margin-right: auto; 
	margin-bottom: auto;
	margin-left: auto;
	text-align: center;
	width: 150px;
	height: 140px;
	background-color: #808d8d8d;
}

.napw{
	width: 90%;
}

#background {
	background-image: url(../picture/login.jpg);
}

